page-login {
  ion-content.content {
    background-color: #999;
  }

  ion-item.item {
    margin: 0.4rem 0rem;
  }

  .login-fixed {
    text-align: center;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
